<style>
h1 {
    font-weight: normal;
    margin: auto;
    background: #f4e6bf;
    line-height: 2.5em;
 
}


p {
    margin: 1em; 
    background: #a2897b
    text-color: #f4e6bf
        
}

h2 {
    font-weight: normal;
    margin-left: 1em;
    background: #a2897b
    line-height: 1em;
    text-color: #f4e6bf
       
}

a {
    color:darkcyan;
    text-decoration: none;
}

a:hover {
    color: whitesmoke;
    background-color: white;
    text-decoration: none;
    text-color: black
}


</style>
